body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 65px;
}
h2{
  font-size: 40px;
}
.button-edit{
  text-decoration: none;
  background-image: linear-gradient(tomato, rgb(224, 34, 62));
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 200;
}
.top-area{
  text-align: center;
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:120%;
  padding: 10%;
  color: white;
  margin-bottom: 50px;
}
.amount-area{
  text-align: center;
  padding: 60px;
}
h2{
  font-size: 35px;
}
.amount-button{
  margin-bottom: 50px;
}
.input-amount{
  margin-bottom: 20px;
  color: rgb(143, 138, 138);
}
#background-color{
  background-color: tomato;
  border: 5px solid tomato;
  border-radius: 5px;
  color: white;
}
.third-part{
  display:flex;
}
.part-1{
  background-color: lightblue;
  text-align: justify;
  border: 20%;
  border-radius: 5px;
  margin-top: 4%;
  padding: 2%;
  width: 33%;
}
.part-2{
  background-color: lightpink;
  text-align: justify;
  border: 20%;
  border-radius: 5px;
  margin-top: 4%;
  padding:2%;
  margin-left: 10px;
  width: 33%;
}
.part-3{
  background-color: lightsalmon;
  text-align: justify;
  border: 20%;
  border-radius: 5px;
  margin-top: 4%;
  padding: 2%;
  margin-left: 10px;
  width: 33%;
}
.extra-part{
  display: flex;
  padding: 3%;
  width: 99%;
}
.extra-part img{
  margin-top: 5px;
  width: 100%;
  height: 100%;
}
.end-part{
 text-align: center;
 margin: 10%;
 
}
.end-line{
  width: 200px;
  height: 38px;
  background-color: burlywood;
  border-radius: 5px;
  margin-top: 35px;
}
footer{
  
  text-align: center;
  font-size: 23px;
  color: white;
  background-color: tomato;
}
footer h1{
  font-style: italic;
}